.cart {
  width: 65%;
  margin: 50px auto;
}
.cart_item {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.cart_item_img {
  flex: 1;
}
.cart_item_img img {
  width: 200px;
  height: 150px;
}
.cart_item_container {
  text-align: center;
  flex: 3;
}
.cart_item_container h3,
.cart_item_container h4,
.cart_item_container button {
  margin-bottom: 5px;
  text-align: center;
}
.cart_item_container button {
  width: 30%;
  padding: 10px 10px;
  border: none;
  outline: none;
  background-color: #edededb4;
  position: relative;
  cursor: pointer;
}
.cart_item_container button:hover {
  border: none;
  outline: none;
}
.cart_item_container button::before {
  content: "";
  position: absolute;
  display: block;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  height: 100%;
  top: 0;
  width: 70px;
  background: #464545;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
}
.cart_item_container button:hover::before {
  clip-path: none;
  width: 99%;
  transition: width ease-in-out 250ms;
  border: none;
  outline: none;
}

.cart_item_quantity {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart_item_quantity span {
  flex: 1;
}
.arrow_up {
  cursor: pointer;
}

.arrow_down {
  cursor: pointer;
}
.total {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 2px solid black;
  padding-top: 10px;
}
.clear_cart {
  padding: 5px 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  color: red;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.75);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.no_items {
  font: 2em sans-serif;
  width: 100%;
  text-align: center;
  padding-top: 2.5em;
}
.total span {
  user-select: none;
}
.amount {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.remove-btn {
  user-select: none;
}

@media screen and (max-width: 800px) {
  .cart {
    width: 85%;
  }
  .remove-btn {
    width: 50%;
  }
  .cart_item_container {
    margin-left: 15px;
  }
}
@media screen and (max-width: 700px) {
  .remove-btn {
    width: 60% !important;
  }
  .cart {
    width: 95%;
  }
  .cart_item_container {
    padding-left: 5px;
  }
}

@media screen and (max-width: 600px) {
  .cart_item_img img {
    width: 150px;
    height: 120px;
  }
  .back__home {
    width: 40% !important;
  }

  .cart_item_container h3,
  .cart_item_container h4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .cart_item_container h3,
  .cart_item_container h4 {
    font-size: 15px;
  }
  .cart_item_img {
    width: 130px;
    margin-right: 10px;
  }
  .back__home {
    padding: 3px 10px !important;
  }
}
@media screen and (max-width: 400px) {
  .cart_item_container h3,
  .cart_item_container h4 {
    font-size: 14px;
  }
}
