.main__section {
  width: 85%;
}
.filter__section {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  font-size: 14px;
}

.filter__item {
  border: none;
  background-color: #edededb4;
  width: 15%;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
  position: relative;
  letter-spacing: 4px;
  cursor: pointer;
}
.sort {
  border: none;
  border-bottom: 1px solid #464545;
  background-color: white;
  width: 15%;
  text-transform: uppercase;
  padding: 15px 0;
  position: relative;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  user-select: none;
}
.sort__body {
  display: block;
  position: absolute;
  top: 80px;
  width: 100%;
  z-index: 1;
}
.sort__body__active {
  display: none;
}

.sort__heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sort__ul {
  background: white;
  border: 1px solid blue;
}
.sort__ul li {
  list-style: none;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 48px;
}
.sort__ul li:last-child {
  padding-bottom: 8px;
}

.filter__item::before {
  content: "";
  position: absolute;
  display: block;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  height: 100%;
  top: 0;
  width: 70px;
  background: #464545;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
}

.filter__item:hover::before {
  clip-path: none;
  width: 100%;
  transition: width ease-in-out 250ms;
}

.item__menu {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.menu__item {
  width: 30%;
  margin: 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  height: 360px;
}
.item__container {
  margin-top: 300px;
}
.menu__item h2 {
  max-width: 22ch;
  padding: 5px 0;
  color: black;
}
.menu__item h3 {
  color: black;
}

.img__container {
  height: 230px;
  width: 90%;
  object-fit: cover;
  position: absolute;
  top: 0;
}
.img__container img {
  width: 100%;
  height: 100%;
}
.img__container img:hover {
  transform: scale(1.02);
}
.about_us {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.about_us p {
  max-width: 100ch;
  margin-top: 100px;
}

@media screen and (max-width: 1300px) {
  .filter__section {
    margin-bottom: 50px;
  }
  .item__menu {
    justify-content: space-evenly;
  }
  .menu__item {
    width: 25%;
    margin: 30px 20px;
  }
  .img__container {
    height: 180px;
  }
  .item__container {
    margin-top: 180px;
  }
}

@media screen and (max-width: 1000px) {
  .filter__section {
    flex-wrap: wrap;
    width: 70%;
    margin: 50px auto;
    justify-content: space-between;
  }

  .sort {
    width: 100%;
  }
  .filter__item {
    width: 40%;
    display: block;
    margin-bottom: 20px;
  }
  .item__menu {
    margin-top: 160px;
  }
  .menu__item {
    width: 40%;
  }
  .img__container {
    height: 160px;
  }
  .item__container {
    margin-top: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .filter__section {
    width: 60%;
  }
  .filter__item {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .menu__item {
    width: 90%;
  }
  .img__container {
    height: 280px;
  }
  .item__container {
    margin-top: 320px;
  }
  .menu__item h2 {
    font-size: 20px;
  }
  .menu__item h3 {
    font-size: 20px;
  }
}
