.nav {
  padding: 15px 40px;
  background-color: black;
  color: white;
}
.nav__container {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
a {
  color: white;
  text-decoration: none;
}
.nav__menu {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.nav__list {
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 250px;
}
.nav__list li {
  padding-right: 25px;
  list-style: none;
  font-size: 18px;
}
.nav__logo h2 {
  text-transform: uppercase;
  user-select: none;
}
.shopping_cart {
  font-size: 25px;
  padding-right: 5px;
}

.nav__cart {
  position: relative;
  display: flex;
  align-items: center;
}
.cart__info {
  position: absolute;
  top: 0;
  right: -18px;
  height: 18px;
  width: 18px;
  font-size: 14px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger__menu {
  display: none;
}
.sidebar {
  display: none;
}
.sidebar__show {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1000px) {
  .nav__list {
    display: none;
  }
  .hamburger__menu {
    display: block;
    width: 50%;
    font-size: 20px;
  }

  .nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
  }
  .sidebar__show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    background-color: white;
    height: 100vh;
    z-index: 10;
    transition: width 1000ms;
    border: 1px solid black;
  }
  .sidebar__menu {
    width: 100%;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }
  .sidebar__list a {
    color: black;
  }
  .sidebar__list li {
    list-style: none;
    margin-bottom: 20px;
  }
}
