.nav {
  padding: 15px 40px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
}
.nav__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.hamburger__menu {
  flex: 1;
}

.nav__logo {
  flex: 1;
}
a {
  color: white;
  text-decoration: none;
}
.nav__menu {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  flex: 4;
}
.nav__list li {
  padding-right: 25px;
  list-style: none;
  font-size: 18px;
}
.nav__logo h2 {
  text-transform: uppercase;
  user-select: none;
}
.shopping_cart {
  font-size: 25px;
  padding-right: 5px;
}

.nav__cart {
  position: relative;
  align-items: center;
  flex: 1;
  text-align: right;
}
.cart__info {
  position: absolute;
  top: 0;
  right: -18px;
  height: 18px;
  width: 18px;
  font-size: 14px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger__menu {
  display: none;
}
.sidebar {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav__list {
    display: none;
  }
  .hamburger__menu {
    display: block;
    width: 50%;
    font-size: 20px;
  }
  .nav__logo {
    display: flex;
    justify-content: center;
  }
  .nav {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    z-index: 1;
  }

  .sidebar {
    display: block;
    transition: ease-in 400ms all;
    position: fixed;

    top: 0px;
    left: 0;
    width: 70%;
    background-color: white;
    height: 100vh;
    z-index: 10;
    border: 1px solid black;
    transform: translateX(-100%);
  }
  .show {
    transform: translateX(0%);
  }
  .sidebar__menu {
    width: 100%;
    margin-top: 40px;
  }
  .sidebar__list a {
    color: black;
    cursor: pointer;
  }
  .sidebar__list li {
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding: 10px 10px;
  }
}

@media screen and (max-width: 800px) {
  .nav__logo h2 {
    font-size: 22px;
  }
  .shopping_cart {
    font-size: 22px;
  }
  .hamburger__menu {
    font-size: 22px;
  }
}
@media screen and (max-width: 700px) {
}
@media screen and (max-width: 600px) {
  .nav__logo h2 {
    font-size: 20px;
  }
  .shopping_cart {
    font-size: 22px;
  }
  .hamburger__menu {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .nav__logo h2 {
    font-size: 18px;
  }
}
