.filter__section {
  width: 85%;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
}
.filter__item {
  background-color: #edededb9;
  width: 20%;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
  position: relative;
  letter-spacing: 4px;
}
.filter__item::before {
  content: "";
  position: absolute;
  display: block;
  clip-path: polygon(25% 0%, 62% 0, 75% 100%, 34% 100%);
  top: 0;
  bottom: 0;
  width: 70px;
  background: #464545;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.filter__item:hover {
  background-color: #7e7d7d;
  opacity: 1;
}
